//output:index.html

doctype
html
	title Vacation
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/skeleton.css")
	link(rel="stylesheet", href="css/styles.css")
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel="stylesheet" type="text/css")
	script(src="jquery-1.12.0.js")
	script(src="scripts.js")
	body
		
		.container.mainwrapper
			h1 Where would you like to go?
			hr
			#formwrapper
				form
					row
						.twelve.columns
							label(id="weather", for="person1",) What kind of weather do you like
							select(class="u-full-width", id="sweather")
								option(value="0") Wet Rainy Days
								option(value="1000") Hot Summer Days
								option(value="100") Cold Snowy Days
						
					row
						.twelve.columns
							label(id="aboutyou", for="person1",) Which word describes you best?
							select(class="u-full-width", id="saboutyou")
								option(value="1000") Laid Back
								option(value="100") Adventurous
								option(value="0") Cultured
						
					row
						.twelve.columns
							label(id="vacationreason", for="person1",) Which of these is the reason you most want to go on vacation?
							select(class="u-full-width", id="svacationreason")
								option(value="1000") Unwind and Relax
								option(value="100") Explore New Cities
								option(value="0") Change of Scenery
						
					row
						.twelve.columns
							label(id="activity", for="person1",) What's your favorite outdoor activity?
							select(class="u-full-width", id="sactivity")
								option(value="1000") Laying Out
								option(value="0") Biking
								option(value="100") Outdoor? Eew!
						
					row
						.twelve.columns
							label(id="home", for="person1",) Pick a dream home
							select(class="u-full-width", id="shome")
								option(value="1000") Beach House
								option(value="100") A Five Star Hotel Room
								option(value="0") Apartment with City views
						.twelve.columns
							input(type="submit", value="Submit", class="button-primary")
					
					row.vacationsites
						.twelve.columns#pdx
							p You should vacation at Portland
						
					row.vacationsites
						.twelve.columns#ny
							p You should vacation at NY
						
					row.vacationsites
						.twelve.columns#hawaii
							p You should vacation at Hawaii
						
